<html>
    <head>
        <title>mookie's django tutorial</title>
    </head>
    <body>
        <div>
            <h1><a href="">mookie's django tutorial</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">first post</a></h2>
            <p>yeah~! i'm gonna make it!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">second post</a></h2>
            <p>i'm sure that!</p>
        </div>
    </body>
</html>
